.hero {
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  background-image: url('../images/bg-pattern-about-1-mobile-nav-1.svg');
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100px;
}

.hero__container {
  padding: 10rem 1.5rem 6.75rem;
  text-align: center;
}

.hero__heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero__description {
  font-size: var(--smallText);
  line-height: var(--smallLineHeight);
}

@media screen and (min-width: 40rem) {
  .hero::after {
    height: 200px;
  }

  .hero__container {
    padding: 14rem 9.75rem 7rem;
  }

  .hero__heading {
    font-size: 4rem;
  }
}

@media screen and (min-width: 69.375rem) {
  .hero__container {
    padding: 15rem 6.25rem 7.5rem;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .hero__description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--baseFontSize);
    line-height: 1.75rem;
  }

  .hero__description::before {
    content: '';
    width: 3.125rem;
    height: 0.25rem;
    background: var(--lightCoral);
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 81.25rem) {
  .hero__container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* ========================= */
/* TEAM SECTION */
/* ========================= */
.team {
  background: var(--jungleGreen);
  position: relative;
}

.team::before {
  content: '';
  position: absolute;
  background-image: url('../images/bg-pattern-about-2-contact-1.svg');
  background-position: bottom right;
  width: 100px;
  height: 100px;
}

.team::after {
  content: '';
  position: absolute;
  background-image: url('../images/bg-pattern-home-4-about-3.svg');
  bottom: 0;
  right: 0;
  width: 147px;
  height: 100px;
}

.team__container {
  padding: 5.5rem 1.5rem 7.25rem;
  text-align: center;
}

.team__heading {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.teamMembers {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3.25rem;
  height: 100%;
}

.teamMember__container {
  position: relative;
  background: var(--sacramentoGreen);
  height: 253px;
}

.teamMember__profile {
  padding: 2rem 1.5rem 3.5rem;
  position: relative;
  /* display: none; */
}

.teamMember__avatar {
  width: 96px;
  height: 96px;
  margin-bottom: 1rem;
  box-sizing: content-box;
}

.teamMember__name {
  color: var(--raptureBlue);
}

.teamMember__title {
  font-style: italic;
  font-size: var(--smallText);
  line-height: var(--smallLineHeight);
}

.teamMember__bio {
  padding: 2.25rem 2.875rem;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: var(--transition);
}

.teamMember__bio--open {
  visibility: visible;
  opacity: 1;
  background: var(--sacramentoGreen);
}

.teamMember__bio .teamMember__name {
  margin-bottom: 0.5rem;
}

.teamMember__quote {
  font-size: var(--smallText);
  line-height: var(--smallLineHeight);
  margin-bottom: 1.5rem;
}

.teamMember__socialIcon:first-child {
  margin-right: 1.5rem;
}

.teamMember__btn {
  border: 0;
  position: absolute;
  background-color: var(--lightCoral);
  border-radius: 50%;
  height: 56px;
  width: 56px;
  bottom: -28px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
}

.teamMember__btn--expand:hover {
  background-color: var(--raptureBlue);
}

.teamMember__btn--close {
  background-color: var(--raptureBlue);
}
.teamMember__btn--close:hover {
  background-color: var(--lightCoral);
}

@media screen and (min-width: 48rem) {
  .team::before {
    height: 200px;
  }

  .team__container {
    padding: 6.25rem 6.25rem 8rem;
  }

  .teamMembers {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 64rem) {
  .team__container {
    padding: 8.75rem 6.25rem 10.5rem;
  }

  .teamMembers {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 81.25rem) {
  .team__container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* ========================= */
/* CLIENTS */
/* ========================= */
.clients {
  position: relative;
  background: var(--sacramentoGreen);
}

.clients::before {
  content: '';
  position: absolute;
  background-image: url('../images/bg-pattern-about-4.svg');
  background-position: bottom right;
  height: 100px;
  width: 100px;
}

.clients__container {
  padding: 5.5rem 1.5rem;
  text-align: center;
}

.clients__heading {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 4rem;
}

.clients__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client {
  margin-bottom: 3.5rem;
}

#verge {
  width: 147px;
}

#jakarta {
  width: 162px;
}

#guardian {
  width: 160px;
}

#techradar {
  width: 147px;
}

#gadgets {
  width: 87px;
}

.client:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 40rem) {
  .clients::before {
    width: 200px;
  }

  .clients__container {
    padding: 6.25rem 2.5rem;
  }

  .clients__group {
    flex-direction: row;
    justify-content: space-between;
  }

  .client {
    margin-bottom: 0;
  }

  #verge {
    width: 103px;
  }

  #jakarta {
    width: 114px;
  }

  #guardian {
    width: 112px;
  }

  #techradar {
    width: 103px;
  }

  #gadgets {
    width: 61px;
  }
}

@media screen and (min-width: 69.375rem) {
  .clients::before {
    height: 200px;
  }

  .clients__container {
    padding: 8.75rem 6.25rem;
  }

  .clients__heading {
    font-size: 3rem;
  }

  #verge {
    width: 165px;
  }

  #jakarta {
    width: 184px;
  }

  #guardian {
    width: 180px;
  }

  #techradar {
    width: 165px;
  }

  #gadgets {
    width: 98px;
  }
}

@media screen and (min-width: 81.25rem) {
  .clients__container {
    padding-left: 0;
    padding-right: 0;
  }
}
